 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 783px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 663px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/5ec6056a6b5416320ee4b77e2e6502f1fcfb8d52a332913b00ce60ed6d522d5d28c04ab0530984120c50862fabdb432ce782babf7ef516d05417af_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-1 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 70px auto 0;
  padding: 5px;
}

.u-section-1 .u-text-1 {
  margin: 22px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/68e11ee25a6eb557f2fa2f74cab186dbb91be29ef429dc605af7723f6489d282069f96a23e92e6eb100c5279650ce1c9ff619e35706ce0f8f1bf16_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-1 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: 70px auto 0;
  padding: 5px;
}

.u-section-1 .u-text-3 {
  margin: 22px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 22px 0 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/53344fa92a85445260ed2e94971ff1e8439b5d954753df8010a31ca97cffa7ae65ae874ba2cb1beab3def2e619c51e3da62f2a998a8e916b717618_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-1 .u-icon-3 {
  width: 48px;
  height: 48px;
  margin: 70px auto 0;
  padding: 5px;
}

.u-section-1 .u-text-5 {
  margin: 22px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 22px 0 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/13439399a8688798e4621988f79972d03e1d99692a77612a771ad3e2802972c547e1df405e6b359719d843704592d03a487f28d9f24b71762de9df_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 30px;
}

.u-section-1 .u-icon-4 {
  width: 48px;
  height: 48px;
  margin: 70px auto 0;
  padding: 5px;
}

.u-section-1 .u-text-7 {
  margin: 22px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 22px 0 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/c06b05659a19606f81261b53eeb811f8bb23eca10ab39a0dd648099fa2ab35976040c6633c0660efba6eaa83b841370b342c2bb070a912cf021132_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 30px;
}

.u-section-1 .u-icon-5 {
  width: 48px;
  height: 48px;
  margin: 70px auto 0;
  padding: 5px;
}

.u-section-1 .u-text-9 {
  margin: 22px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 22px 0 0;
}

.u-section-1 .u-list-item-6 {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/e8d30db2e35f47c9c4c3248fb23af760ed91a3d0ae5cf327029f94b1653f720a597387f0e8cfda9b2a2c1131cd6b87852114a80cab68f0092ff8ca_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 30px;
}

.u-section-1 .u-icon-6 {
  width: 48px;
  height: 48px;
  margin: 70px auto 0;
  padding: 5px;
}

.u-section-1 .u-text-11 {
  margin: 22px auto 0;
}

.u-section-1 .u-text-12 {
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 1px;
    margin-top: 1px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 546px;
  }

  .u-section-1 .u-list-item-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-list-item-3 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-list-item-4 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-list-item-5 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
  }

  .u-section-1 .u-list-item-6 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.999975px);
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 961px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1753px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 1633px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}